.displayInvoices{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.displayInvoices_invoice{
    height: 72px;
    padding: 0px 24px 0px 32px;
    background-color: var(--invoice-container-bg);
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
}


.displayInvoices_invoice:hover{
    border: 1px solid #7C5DFA; 
}

.displayInvoices_invoiceData{
    display: flex;
    justify-content: space-between;
    width: 308px;
}

.displayInvoices_invoiceTitle{
    font-family: var(--font);
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.25px;
}

.displayInvoices_invoiceTitle span{
    color: #7E88C3;
}


.displayInvoices_invoiceDueData{
    font-family: var(--font);
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.1px;
    color: var(--invoice-container-due-date);
}

.displayInvoices_invoiceDueData span{
    color: var(--invoice-container-due-date-span);
}