.allInvoices{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.displayInvoices{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.displayInvoices_invoice{
    height: 72px;
    padding: 0px 24px 0px 32px;
    background-color: var(--invoice-container-bg);
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
    position: relative;
    z-index: var(--farthest);
}

.displayInvoices_invoice:hover{
    border: 1px solid #7C5DFA; 
}

.displayInvoices_title_dueDate_name{
    display: flex;
    justify-content: space-between;
    gap: 45px;
    pointer-events: none;
}

.displayInvoices_title{
    font-family: var(--font);
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.25px;
    pointer-events: none;
    text-transform: uppercase;
}

.displayInvoices_title:not(.displayInvoices_title span){
    color: var(--invoice-container-title);
}

.displayInvoices_title span{
    color: #7E88C3;
    pointer-events: none;
}

.displayInvoices_dueDate{
    font-family: var(--font);
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.1px;
    color: var(--invoice-container-due-date);
    pointer-events: none;
}

.displayInvoices_dueDate span{
    color: var(--invoice-container-due-date-span);
    pointer-events: none;
}

.displayInvoices_name{
    font-family: var(--font);
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.1px;
    color: var(--invoice-container-name);
    pointer-events: none;
}

.displayInvoices_priceAndStatus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    pointer-events: none;
}

.displayInvoices_price{
    font-family: var(--font);
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.25px;
    color: var(--invoice-container-price);
    margin-right: 20px;
    pointer-events: none;
}

.displayInvoices_status{
    width: 104px;
    height: 40px;
    border-radius: 6px;
    background-color: rgba(51, 214, 159, 0.06);
    color: #33D69F;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 8px;
    font-family: var(--font);
    font-size: var(--h3-variant-font-size);
    line-height: var(--h3-variant-line-height);
    font-weight: var(--h3-variant-font-weight);
    letter-spacing: var(--h3-variant-letter-spacing);
    pointer-events: none;
}

.dot{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #33D69F;
    pointer-events: none;

}

.arrow{
    height: 9px;
    object-fit: contain;
    pointer-events: none;
}

@media(max-width: 790px){
    .displayInvoices_title_dueDate_name{
        gap: 28px;
    }

    .displayInvoices_priceAndStatus{
        gap: 10px;
    }

    .displayInvoices_price{
        margin: 0px;
    }
}

@media(max-width: 630px){
    .displayInvoices_invoice{
        height: 134px;
    }

    .displayInvoices_title{
        position: absolute;
        top: 25px;
        left: 24px;
    }

    .displayInvoices_dueDate{
        position: absolute;
        top: 64px;
        left: 24px;
    }

    .displayInvoices_name{
        position: absolute;
        top: 25px;
        right: 24px;
    }

    .displayInvoices_price{
        position: absolute;
        bottom: 22px;
        left: 24px;
    }

    .displayInvoices_status{
        position: absolute;
        bottom: 27px;
        right: 24px;
    }
}