@font-face {
    font-family: 'league spartan';
    src: url('./FontFiles/LeagueSpartan-VariableFont_wght.ttf');
}

body{
    padding-left: 103px;
    min-height: 100vh;
    background-color: var(--body-bg-color);
    position: relative;
}

* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: all 0.2s linear;
}

fieldset{
    border: none;
}


@media (prefers-color-scheme: dark){
    :root{
        --font: 'league spartan';

        --body-bg-color: #141625;
        --sidebar-bg-color: #1E2139;

        --invoice-main-title: white;
        --invoice-total-title: #DFE3FA;
        --invoice-filter-title: white;
        --invoice-filter-popup-bg: #252945;
        --invoice-filter-popup-label: white;
        --invoice-filter-popup-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);

        --invoice-container-bg: #1E2139;

        --h1-font-size: 36px;
        --h1-font-weight: 700;
        --h1-line-height: 33.12px;
        --h1-letter-spacing: -1.13px;

        --h2-font-size: 24px;
        --h2-font-weight: 700;
        --h2-line-height: 33.12px;
        --h2-letter-spacing: -1.13px;

        --h3-font-size: 15px;
        --h3-font-weight: 700;
        --h3-line-height: 24px;
        --h3-letter-spacing: -0.25px;

        --h3-variant-font-size: 15px;
        --h3-variant-font-weight: 700;
        --h3-variant-line-height: 15px;
        --h3-variant-letter-spacing: -0.25px;

        --body-font-size: 13px;
        --body-font-weight: 500;
        --body-line-height: 18px;
        --body-letter-spacing: -0.1px;

        --body-variant-font-size: 13px;
        --body-variant-font-weight: 500;
        --body-variant-line-height: 15px;
        --body-variant-letter-spacing: -0.25px;

        --more-closest: 60;
        --closest: 50;
        --even-more-closer: 45;
        --even-closer: 40;
        --closer: 30;
        --farthest: 10;
    
    }
}

@media (prefers-color-scheme: light){
    :root{
        --font: 'league spartan';

        --body-bg-color: #F8F8FB;
        --sidebar-bg-color: #373B53;

        --invoice-main-title: #0C0E16;
        --invoice-total-title: #888EB0;
        --invoice-filter-title: #0C0E16;
        --invoice-filter-popup-bg: white;
        --invoice-filter-popup-label: #1E2139;
        --invoice-filter-popup-box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);

        --invoice-container-bg: white;
        --invoice-container-title: #0C0E16;
        --invoice-container-due-date: #7E88C3;
        --invoice-container-due-date-span: #888EB0;
        --invoice-container-name: #858BB2;
        --invoice-container-price: #0C0E16;

        --view-invoice-go-back-link-text: #0C0E16;
        --view-invoice-go-back-link-text-hover: #7E88C3;
        --view-invoice-container-bg: white;
        --view-invoice-container-status-title: #858BB2;
        --view-invoice-container-edit-button-bg: #F9FAFE;
        --view-invoice-container-edit-button-text: #7E88C3;
        --view-invoice-container-edit-button-hover: #DFE3FA;
        --view-invoice-container-invoice-number-text: #0C0E16;
        --view-invoice-container-invoice-desc-text: #7E88C3;
        --view-invoice-container-invoice-address-text: #7E88C3;
        --view-invoice-container-invoice-title: #7E88C3; 
        --view-invoice-container-invoice-data: #0c0e16;
        --view-invoice-container-invoice-address: #7E88C3;
        --view-invoice-container-item-title: #7E88C3;
        --view-invoice-container-item-name:#0C0E16;
        --view-invoice-container-item-qty:#7E88C3;
        --view-invoice-container-item-amount: white;

        --dialog-bg: #FFFFFF;
        --dialog-main-title:  #0C0E16;
        --dialog-label:#7E88C3;
        --dialog-label-calendar: rgba(126, 136, 195, 0.6);  
        --dialog-calendar-border: rgba(223, 227, 250, 0.6);
        --dialog-calendar-text: rgba(12, 14, 22, 0.6);    
        --dialog-input-bg: white;
        --dialog-input-border: #DFE3FA;
        --dialog-input-text: #0C0E16;
        --dialog-popup-bg: white;
        --dialog-popup-box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
        --dialog-popup-option-border: #DFE3FA;
        --dialog-popup-calendar-text: #0C0E16;
        --dialog-item-list-title: #7E88C3;
        --dialog-item-total: #888EB0;
        --dialog-add-new-item-bg: #F9FAFE;
        --dialog-add-new-item-text: #7E88C3;
        --dialog-button-container-bg: white;
        --dialog-button-container-box-shadow: 0px -50px 50px rgba(0, 0, 0, 0.1);
        --dialog-button-draft-text: #888EB0;
        --dialog-button-draft-hover:#0C0E16;
        --dialog-button-cancel-button-bg: #f9fafe;
        --dialog-button-cancel-button-text: #7E88C3;
        --dialog-delete-message-text: #888Eb0;

        --h1-font-size: 36px;
        --h1-font-weight: 700;
        --h1-line-height: 33.12px;
        --h1-letter-spacing: -1.13px;

        --h2-font-size: 24px;
        --h2-font-weight: 700;
        --h2-line-height: 33.12px;
        --h2-letter-spacing: -1.13px;

        --h3-font-size: 15px;
        --h3-font-weight: 700;
        --h3-line-height: 24px;
        --h3-letter-spacing: -0.25px;

        --h3-variant-font-size: 15px;
        --h3-variant-font-weight: 700;
        --h3-variant-line-height: 15px;
        --h3-variant-letter-spacing: -0.25px;

        --body-font-size: 13px;
        --body-font-weight: 500;
        --body-line-height: 18px;
        --body-letter-spacing: -0.1px;

        --body-variant-font-size: 13px;
        --body-variant-font-weight: 500;
        --body-variant-line-height: 15px;
        --body-variant-letter-spacing: -0.25px;

        --more-closest: 60;
        --closest: 50;
        --even-more-closer: 45;
        --even-closer: 40;
        --closer: 30;
        --farthest: 10;
    }

}


@media(max-width: 850px){
    body{
        padding-top: 80px;
        padding-left: 0px;
    } 
}
