.overlay{
    width: 100%;
    position: absolute;
    top: 0px;    
    left: -100%;
    height: 100vh;
    background-color: transparent;
    z-index: var(--even-more-closer);
    transition: left 0.4s linear, background-color 0.4s linear, top 0.2s linear;
}

.newInvoice{
    width: 719px;
    height: 100%;
    padding: 59px 56px 0px 159px;
    background-color: var(--dialog-bg);
    border-radius: 0px 20px 20px 0px;
    position: absolute;
    z-index: var(--even-closer);
    overflow-y: scroll;
    overflow-x: hidden;
}

.newInvoice_title{
    font-family: var(--font);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: var(--dialog-main-title);
    margin-bottom: 46px;
}

.billFrom, .billTo{
    display: grid;
    grid-template-columns: repeat(3, 152px);
    row-gap: 24px;
    column-gap: 25px;
    margin-bottom: 49px;
}


.billFrom_title, .billTo_title{
    font-family: var(--font);
    font-size: var(--h3-variant-font-size);
    font-weight: var(--h3-variant-font-weight);
    line-height: var(--h3-variant-line-height);
    color: #7C5DFA;
    grid-column: 1/4;
}

.billFrom > div:nth-of-type(1){
    grid-column: 1/4;
} 

.billTo > div:nth-of-type(1),
.billTo > div:nth-of-type(2),
.billTo > div:nth-of-type(3){
    grid-column: 1/4;
}


.invoiceDetails{
    display: grid;
    grid-template-columns: repeat(2, 240px);
    gap: 25px;
    margin-bottom: 35px;
}

.invoiceDetails > div:nth-of-type(2){
    grid-column: 1/3;
}

.itemList_title{
    font-family: var(--font);
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.38px;
    color: #777F98;
}

.whiteBox{
    padding-left: 103px; 
    background-color: var(--dialog-button-container-bg);
    box-shadow: var(--dialog-button-container-box-shadow);
    width: 719px;
    height: 110px;
    position: absolute;
    z-index: var(--closest);
    bottom: 0px;
    left: 0px;
    margin: auto;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
    width: 504px;
    display: flex;
    justify-content: space-between;
}

.buttonContainer{
    width: 269px;
    display: flex;
    justify-content: space-between;
}

.discardButton, .draftButton, .saveButton{
    height: 48px;
    border-radius: 24px;    
    font-family: var(--font);
    font-size: var(--h3-variant-font-size);
    font-weight: var(--h3-variant-font-weight);
    line-height: var(--h3-variant-line-height);
    border: none;
    cursor: pointer; 
}

.discardButton{
    width: 96px;
    background-color: #F9FAFE;
    color: #7E88C3;
}

.discardButton:hover{
    background-color: rgb(211, 211, 211);
}

.draftButton{
    width: 133px;
    background-color: #373B53;
    color: #888Eb0;
}

.draftButton:hover{
    background-color: var(--dialog-button-draft-hover);
}

.saveButton{
    background-color: #7C5DFA;
    width: 128px;
    color: white;
}

.saveButton:hover{
    background-color: #9277FF;
}

.errorMessage{
    width: 104px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 3px;
    position: relative;
    bottom: 130px;
}

.emptyMessage, .itemMessage{
    display: none;
    font-family: var(--font);
    font-size: 10px;
    line-height: 15px;
    font-weight: 600;
    letter-spacing: -0.21px;
    color: #EC5757;
}

@media(max-width: 940px){
    .newInvoice{
        width: 70%;
        padding-left: 120px;
        padding-right: 40px;
    }
    .whiteBox{
        padding-left: 80px;
        width: 70%;
    }

    .billFrom, .billTo{
        grid-template-columns: repeat(3, 130px);
    }

    .invoiceDetails{
        grid-template-columns: repeat(2, 205px);   
    }

    .discardButton{
        right: 400px;
    }
}

@media(max-width: 850px){
    .overlay{
        top: 80px;
        height: 90.8vh;
    }

    .whiteBox{
        padding-left: 0px;
    }

    .newInvoice{
        padding-left: 56px;
        margin-bottom: 47px;
    }
}


@media(max-width: 750px){
    .buttons{
        width: auto;
        gap: 7px
    }

    .buttonContainer{
        width: auto;
        gap: 7px;
    }

    .newInvoice{
        padding-top: 74px;
        padding-left: 24.11px;
    }

    .newInvoice_title{
        width: 345px;
        margin: 0px auto 22px auto;
    }

    .billFrom, .billTo{
        width: 288px;
        grid-template-columns: repeat(2, 160px);
    }

    .billFrom{
        margin: 0px auto 49px auto;
    }

    .billTo{
        margin: 0px auto 69px auto;
    }

    .billFrom > div:nth-of-type(1), 
    .billFrom_title, 
    .billTo_title{
        grid-column: 1/3;
    } 

    .billFrom > div:nth-of-type(4){
        grid-column: 1/3
    }

    .billTo > div:nth-of-type(1),
    .billTo > div:nth-of-type(2),
    .billTo > div:nth-of-type(3){
        grid-column: 1/3;
    }

    .billTo > div:nth-of-type(6){
        grid-column: 1/3;
    }

    .invoiceDetails{
        width: 288px;
        margin: 0px auto 69px auto;
        grid-template-columns: repeat(2, 160px);
    }

    .itemList_title{
        width: 347px;
        margin: 0px auto 22px auto;
    }

    .itemList{
        margin-bottom: 158px;
    }
    .discardButton{
        width: 84px;
    }

    .draftButton{
        width: 117px;
    }

    .saveButton{
        width: 112px;
    }
}


@media(max-width: 650px){
    .whiteBox{
        width: 100%;
    }

    .itemList_title{
        width: 100%;
    }

    .newInvoice_title{
        width: 100%;
    }

    .newInvoice{
        width: 100%;
        padding-right: 10px
    }

    .billFrom, .billTo{
        width: 100%;
        grid-template-columns: repeat(2, 48%);
    }

    .invoiceDetails{
        width: 100%;
        grid-template-columns: 100%;
    }

    .invoiceDetails > div:nth-of-type(2){
        grid-column: initial;
    }
}

@media(max-width: 470px){
    .billFrom, .billTo{
        grid-template-columns: repeat(2, 46%);
    }
}